# ===========================
# temporary build directories
# ===========================
tmp/**

# ===========================
# Python
# ===========================
__pycache__/
*.pyc

# ===========================
# ehijing build files
# ===========================
eHIJING-examples/build/**

# ===========================
# macOS
# ===========================
.DS_Store

# ===========================
# VSCode
# ===========================
.vscode/

