# ===========================
# temporary build directories
# ===========================
build/
external/pythia8/bin/
external/pythia8/lib/
external/pythia8/tmp/

# ===========================
# Python
# ===========================
__pycache__/

# ===========================
# macOS
# ===========================
.DS_Store

# ===========================
# VSCode
# ===========================
.vscode/
